.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: rgb(47, 47, 47);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin-bottom: 12px;
}

.title h1 {
    color: white;
}

.main h2 {
    color: white;
}